@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'AvantGardeDemi';
  src: url('../src/fonts/AvantGardeDemiObliqueBT.ttf') format('opentype');
}

@font-face {
  font-family: 'AvantGardeBook';
  src: url('../src/fonts/AvantGardeBookBT.ttf') format('opentype');
}

@font-face {
  font-family: 'AvantGardeBookOblique';
  src: url('../src/fonts/AvenirLTStd-BookOblique.otf') format('opentype');
}


